.menu-link {
    color: black;
    text-decoration: none;
    margin: 10px;
}

.menu-link.active {
    color: red;
    font-weight: bold;
}
body.light-theme {
    background-color: white;
    color: darkgrey;
}

body.dark-theme {
    background-color: #121212;
    color: white;
}

/* Menü renkleri */
.dark-theme .menu-link {
    color: white;
}

.light-theme .menu-link {
    color: darkgrey;
}
body {
    background-color: white !important;
}
body.dark-theme {
    background-color: darkgrey !important;
    .theme-btn {
        background: none;
        border: none;
        color: inherit;
        font-size: 16px;
        cursor: pointer;
        margin-left: 15px;
    }

    .theme-btn:hover {
        text-decoration: underline;
    }
    .activity {
        position: relative;
        margin: 15px 0;
        cursor: pointer;
    }

    .info {
        display: none;
        font-size: 14px;
        color: gray;
        margin-left: 10px;
    }

    .zoom-img {
        width: 300px;
        cursor: pointer;
        transition: transform 0.3s ease;
        border: 2px solid red; /* TEST İÇİN */
    }

    .zoom-img.zoomed {
        transform: scale(1.5);
    }
